* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pitch-black: #202020;
  --dark: #000205;
  --dark-blue: #0D1321;
  --grey: #1f1f1f;
  --light-white: #DDFFF7;
  --purple: #0023DE;
  --green: #00FF00;
  --mid: #FF00DD; 
  --shadow: rgba(50, 50,93, 0.25) 0px 2px 5px -1px, rgba(0,0,0,,0.3) 0px 1px 3px -1px;

}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  line-height: 1.4;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}
/* styles.css */
.form-container {
  width: 500px;
  margin: auto;
  text-align: center;
}

.form-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  width: auto;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-navigation {
  display: flex;
  justify-content: center;
}
.form-navigation button {
  padding: 20px;
  margin: 20px;
  border-radius: 15px !important;
  background: blue !important;
}

.form-step input,
				textarea {
					display: inline-block;
          padding: 20px;
          width: 100%;
					margin-bottom: 1rem;
					color: var(--light-white);
					outline: none;
					background: linear-gradient(var(--pitch-black), var(--pitch-black))
							padding-box,
						linear-gradient(90deg, #00ff00, #0023de, #ff00dd) border-box;
					border: 3px solid transparent;
          border-radius: 20px;

					&::placeholder {
						letter-spacing: 0.1rem;
					}
				}
        
.trait-img {
  width: 50px !important;
}
.nft-details  img{
  display: flex;
  justify-content: center;
  align-items: center;
    width: 30rem !important;
    border-radius: 20px;
}
.nft-details h2{
 font-size: 24px;
 justify-content: center;
}
.admin-container-form .form{
  display: flex !important;
  flex-direction: column !important;
  width: auto;
}
.admin-container-form input {
  padding: 20px;
  border-radius: 20px;
}
.admin-container-form .nft-details h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.admin-container-form .nft-details p, ul {
  align-items: start;
  font-size: 15px;
}
.admin-container-form .nft-details .nft-img{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.traits-box {
  margin-bottom: 5rem;
  /* padding-bottom: 25rem; */
}
.kcAsE .explore-container .explore-cardlist {
  margin-bottom: 15rem !important;
}